In [9]:
# Step 2 - Database Engineering
#
#   Use SQLAlchemy to model your table schemas and create a sqlite database for your tables. 
#    You will need one table for measurements and one for stations.
#
#   Create a Jupyter Notebook called database_engineering.ipynb and use this to complete all
#    of your Database Engineering work.

In [10]:
# Dependencies
import pandas as pd
import numpy as np
import os

In [11]:
#   Use Pandas to read your cleaned measurements and stations CSV data.
#   Path of the CSV files
csvfile1 = 'clean_hawaii_measurements.csv'
csvfile2 = 'hawaii_stations.csv'

In [12]:
# Read in the cleaned csv files into a pandas DataFrame
hm_df = pd.read_csv(csvfile1, dtype=object)
hs_df = pd.read_csv(csvfile2, dtype=object)

In [13]:
# Preview the Hawaii Measurements DataFrame
hm_df.head(5)

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-07  0.06   70

In [14]:
# Preview the Hawaii Stations DataFrame
hs_df.head(11)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.3152,-157.9992,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.3331,-157.8025,152.4

In [15]:
# Database dependencies from SQL Alchemy
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [16]:
#   Use the engine and connection string to create a database called hawaii.sqlite.
#
engine = create_engine("sqlite:///hawaii.sqlite")

In [17]:
# Create a connection to the engine called `conn`
conn = engine.connect()

In [18]:
#   Use declarative_base and create ORM classes for each table.
#   http://docs.sqlalchemy.org/en/latest/core/type_basics.html
#
#   You will need a class for Measurement and for Station.
#   Make sure to define your primary keys.
Base = declarative_base()

class Station(Base):
    __tablename__ = 'station'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    name = Column(Text)
    latitude = Column(Text)
    longitude = Column(Text)
    elevation = Column(Float)

In [19]:
class Measurement(Base):
    __tablename__ = 'measurement'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Text)
    tobs = Column(Integer)
#
# More on __repr__: https://stackoverflow.com/questions/1984162/purpose-of-pythons-repr    
#    
    def __repr__(self):
        return f"id={self.id}, name={self.name}"

In [20]:
# Use `create_all` to create the tables in the database
Base.metadata.create_all(engine)

In [21]:
# Use Orient='records' to create a list of station data to write
# to_dict() cleans out DataFrame metadata as well
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
station_data = hs_df.to_dict(orient='records')

In [22]:
# station_data is just a list of dictionaries that represent each row of data
#
print(station_data[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': '21.2716', 'longitude': '-157.8168', 'elevation': '3'}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': '21.4234', 'longitude': '-157.8015', 'elevation': '14.6'}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': '21.5213', 'longitude': '-157.8374', 'elevation': '7'}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': '21.3934', 'longitude': '-157.9751', 'elevation': '11.9'}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': '21.4992', 'longitude': '-158.0111', 'elevation': '306.6'}]

In [23]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [25]:
# Save the reference to the `station` table as a variable called `station_table`
station_table = sqlalchemy.Table('station', metadata, autoload=True)

In [26]:
# Use `.delete()` to remove any pre-existing data.
# Note that this is so I can re-run the code many times!
conn.execute(station_table.delete())

In [27]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(station_table.insert(), station_data)

In [28]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from station limit 5").fetchall()

[(1, 'USC00519397', 'WAIKIKI 717.2, HI US', '21.2716', '-157.8168', 3.0),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', '21.4234', '-157.8015', 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', '21.5213', '-157.8374', 7.0),
 (4, 'USC00517948', 'PEARL CITY, HI US', '21.3934', '-157.9751', 11.9),
 (5, 'USC00518838', 'UPPER WAHIAWA 874.3, HI US', '21.4992', '-158.0111', 306.6)]

In [29]:
# now the measurement data
measurement_data = hm_df.to_dict(orient='records')

In [30]:
# station_data is just a list of dictionaries that represent each row of data
#
print(measurement_data[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': '0.08', 'tobs': '65'}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': '0', 'tobs': '63'}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': '0', 'tobs': '74'}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': '0', 'tobs': '76'}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': '0.06', 'tobs': '70'}]

In [31]:
# Save the reference to the `station` table as a variable called `station_table`
measurement_table = sqlalchemy.Table('measurement', metadata, autoload=True)

In [32]:
# Use `.delete()` to remove any pre-existing data.
# Note that this is so I can re-run the code many times!
conn.execute(measurement_table.delete())

In [33]:
# Use `table.insert()` to insert the data into the table
# The SQL table is populated during this step
conn.execute(measurement_table.insert(), measurement_data)

In [34]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from measurement limit 5").fetchall()

[(1, 'USC00519397', '2010-01-01', '0.08', 65),
 (2, 'USC00519397', '2010-01-02', '0', 63),
 (3, 'USC00519397', '2010-01-03', '0', 74),
 (4, 'USC00519397', '2010-01-04', '0', 76),
 (5, 'USC00519397', '2010-01-07', '0.06', 70)]